# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Dados (ajustar se quiser versionar dados pequenos)
data/raw/
data/processed/
data/final/

# Streamlit
.streamlit/secrets.toml

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log